<%- include('./head') %>

<main>
    <section>
        <h1>Werktijden .B.V.</h1>
        <p> afdeling: </p>
    </section>

    <section class="wrapper">
        
    </section>
</main>



<%- include('./footer') %>