<%- include('./head') %>

<main>
  
    <section class="info"></section>

    <section class="wrapper">

         <div class="employee-card">
           <div class="inside-card">
             <div class="ball"></div><h3>Jane Doe</h3><p>afdeling</p>
          </div>
        </div> 
        
        <div class="employee-card">
           <div class="inside-card">
             <div class="ball"></div><h3>Jane Doe</h3><p>afdeling</p>
          </div>
        </div>  

        <div class="employee-card">
           <div class="inside-card">
             <div class="ball"></div><h3>Jane Doe</h3><p>afdeling</p>
          </div>
        </div>  

    </section>
</main>



<%- include('./footer') %>