:root {
    --main-bg: #F3F4F6;
    --primary: #059669;
    --primary-text: #FFFFFF;
    --light-text: #374151;
    --light-border: #DDDDDD;
    --container-bg: #FFFFFF;
    --secondary: #960505;

    --container-radius: 8px;
    --btn-radius: 6px;

    --container-shadow: 0px 1px 2px 0px #37415125;
}

/* head styling */

body{
    margin: 0;
}
header{
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
}

.menu{
    display: flex;
    flex-direction: row;
}

.menu li{
    list-style: none;
    margin-left: 1em;
}

.menu a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: var(--primary-text);
}

/* index styling */
main{
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 8px;
    width: 80vw;
}

.employee-card{
    display: flex;
    flex-direction: row;
    gap: 1em;
    border-bottom: solid 1px gray;
}

.stripe{
    position: relative;
    top: 1em;
    width: 2px;
    height: 80px;
    background-color: rgb(21, 140, 67);
}

.employee-card img{
    height: 100px;
    width: auto;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 1em;
}

.inside-card{
    display: inline;
}
