

/* index styling */
main{
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 8px;
    width: 80vw;
}

.employee-card{
    display: flex;
    flex-direction: row;
    gap: 1em;
    border-bottom: solid 1px gray;
}

.stripe{
    position: relative;
    top: 1em;
    width: 2px;
    height: 80px;
    background-color: yellow;
}

.employee-card img{
    height: 100px;
    width: auto;
    margin-top: 0.5em;
    margin-left: 1em;
}

.inside-card{
    display: inline;
}
