:root {
    --main-bg: #F3F4F6;
    --primary: #059669;
    --primary-text: #FFFFFF;
    --light-text: #374151;
    --light-border: #DDDDDD;
    --container-bg: #FFFFFF;
    --secondary: #960505;

    --container-radius: 8px;
    --btn-radius: 6px;

    --container-shadow: 0px 1px 2px 0px #37415125;
}

/* head styling */

body{
    margin: 0;
    font-family: Helvetica ;
}

header{
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    height: 3em;
    align-items: center;
}

header img{
    height: 24px;
    width: auto;
}
.menu{
    display: none;
    flex-direction: row;
}

.menu li{
    list-style: none;
    margin-left: 1em;
}

.menu a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: var(--primary-text);
}

/* index styling */


main{
    padding: 2em;
    display: flex;
    margin-top: 2em;
    flex-direction: column;
}

/* button */

.afdeling-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    margin-top: 1em;
}

.view-button {
    display: flex;
}

.color-switch {
    display: flex;
    position: relative;
    margin: 0px;
}

.color-switch>label.switch-inner {
    margin: 0px;
    width: 11rem;
    height: 2rem;
    background: var(--light-border);
    border-radius: var(--btn-radius);
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    display: block;
    box-shadow: var(--container-shadow);
}

.color-switch>label.switch-inner:before {
    content: attr(data-on);
    position: absolute;
    font-size: 0.8rem;
    font-weight: 500;
    top: 7px;
    right: 0;
    width: 5.5rem;
    text-align: center;
}

.color-switch>label.switch-inner:after {
    content: attr(data-off);
    font-size: 0.9rem;
    width: 5.5rem;
    height: 22px;
    background: var(--primary);
    color: var(--primary-text);
    border-radius: var(--btn-radius);
    position: absolute;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 5px 0px;
    left: 0;
    top: 0;
}

.color-switch input[type="checkbox"] {
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}

.color-switch input[type="checkbox"]:checked+label.switch-inner:after {
    content: attr(data-on);
    left: 50%;
    background: var(--light-text);
}

.color-switch input[type="checkbox"]:checked+label.switch-inner:before {
    content: attr(data-off);
    right: auto;
    left: 0;
}


.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-wrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 8px;
    width: 80vw;
}

.employee-card{
    display: flex;
    flex-direction: row;
    gap: 1em;
    border-bottom: solid 1px gray;
}

.stripe{
    position: relative;
    top: 1em;
    width: 3px;
    height: 60px;
    border-radius: 1px;
    background-color: rgb(21, 140, 67);
}


.employee-card img{
    height: 75px;
    width: auto;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 1em;
    border: 3px solid #059669 ;
    border-radius: 100%;
}

.inside-card{
    display: inline;
}

.inside-card h2{
    color: var(--light-text);
    font-size: 20px;
    font-weight: 200;
}

.button-wrapper{
    margin-top: 2em;
}

.button-wrapper button{
    height: 2em;
    width: auto;
    align-content: center;
    color: var(--primary-text);
    font-size: 24px;
    margin-left: 1em;
    background-color: var(--primary);
    border-radius: var(--container-radius);
    border: none;
}

/* form */
